<footer class="sticky-footer">
    <div class="footer-content">
        <p>@vinylLand</p>
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-facebook" style="color: #fff;"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin" style="color: #fff;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" style="color: #fff;"></i></a>
        </div>
    </div>
</footer>
</body>
</html>