<%- include('./partials/header.ejs') %>

<body>
    <div class="content">
        <h1>About Us</h1>
        <p>
            At DJUD6 company, we are passionate about creating meaningful connections. Our journey began with a simple idea: to bring people together, to inspire collaboration, and to foster relationships that matter. 
            Established in 2023, DJUD6 has evolved into a trusted platform that connects individuals, businesses, and communities across the globe. We believe that connections are the building blocks of progress and innovation. Whether it's connecting like-minded professionals, helping organizations find the right partners, or enabling individuals to discover new opportunities, we are dedicated to making connections that count.
            What sets us apart is our commitment to quality, security, and user experience.
        </p>
    
</body>
<%- include('./partials/footer.ejs') %>
