<% if (vinyls.length > 0) { %>
    <h2>Search Results:</h2>
    <ul>
      <% vinyls.forEach(vinyl => { %>
        <li>
          </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No vinyls found matching your search criteria.</p>
  <% } %>
  